.timer-selection-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-selection-wrapper .menu-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
}

.timer-selection-title {
    margin-top: 25vh;
    font-size: 2rem;
}


.timers-wrapper {
    display: flex;
}

.timer {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    background-color: #a71e1e;
}

.hidden {
    display: none;
}